---
// Component import
import CategoryCloud from "../components/CategoryCloud.astro";
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
// console.log(frontmatter);

// destructuring
const { title, description, date, category, author, image, alt } = frontmatter;
---

<MainLayout {title} {description}>
    <PostHeader {title} {description} {date} {category} {image} {author} />
	<div class="post-content">
		<div class="content">
			<slot />
		</div>
		<div class="sidebar">
			<aside class="container" aria-label="Blog Categories">
				<h2 class="h3">Blog Categories</h2>
				<CategoryCloud />
			</aside>
		</div>
	</div>
</MainLayout>
